html, body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding:2rem;
    margin: 1rem auto;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-icon {
    width: 32.33px;
    height: 34px;
}

.logo {
    width: 84px;
    height: 42px;
}

.chat-icon {
    width: 34px;
    height: 34px;
}

.main-img {
    width: 100%;
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 15px;
}

footer {
    display: flex;
    justify-content: center;   
}

.footer-icon {
    padding: 1.1rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border-radius: 50px;
    margin: 0 .5rem
}

.main-text {
    position: absolute;
    bottom: 8rem;
    color: #F8F8F8;
    margin: 1rem;
}

.name-age,
.hud {
    margin: 0
}

.name-age {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}

.hud {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #B7B7B7;
}

.badge {
    position: absolute;
    width: 213.91px;
    height: 106.26px;
    left: 14px;
    top: 98.96px;
    transform: rotate(-45deg);
}

#like-badge,#nope-badge {
    display: none;
}